* {
  box-sizing: border-box;
}

.container-burbuja {
  position: fixed;
  bottom: 1em;
  left: 6em;
}

.menu-toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #14bb7b;
  box-shadow: -4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;
  cursor: pointer;
}
.menu-toggle .fa {
  color: #fff;
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  transition: 0.4s;
}
.menu-toggle.open .fa {
  transform: rotate(135deg);
}

.btn-app {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
  background-color: #f9fafd;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.btn-app .fa {
  line-height: 2.5em;
}

.open .btn-app {
  box-shadow: -4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-round {
  position: absolute;
  bottom: 0;
  right: 3.25em;
  z-index: 3;
}
.menu-round .btn-app {
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
.menu-round.open .btn-app:nth-of-type(1) {
  left: 4.3em;
  bottom: 0.5em;
  transition-delay: 0.2s;
}
.menu-round.open .btn-app:nth-of-type(2) {
  right: 3.5em;
  bottom: 3.5em;
  transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(3) {
  right: 4.25em;
  bottom: 0.5em;
}

.menu-line {
  position: absolute;
  z-index: 2;
}
.menu-line .btn-app {
  bottom: 2px;
  right: 0.5em;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 4.25em;
}
.menu-line.open .btn-app:nth-of-type(2) {
  bottom: 7.25em;
}
.menu-line.open .btn-app:nth-of-type(3) {
  bottom: 10.25em;
}
.menu-line.open .btn-app:nth-of-type(4) {
  bottom: 13.25em;
}
.menu-line.open .btn-app:nth-of-type(5) {
  bottom: 16.25em;
}
.menu-line.open .btn-app:nth-of-type(6) {
  bottom: 19.25em;
}
.menu-line.open .btn-app:nth-of-type(7) {
  bottom: 22.25em;
}
.menu-line.open .btn-app:nth-of-type(8) {
  bottom: 25.25em;
}
.menu-line.open .btn-app:nth-of-type(9) {
  bottom: 4.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(10) {
  bottom: 7.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(11) {
  bottom: 10.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(12) {
  bottom: 13.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(13) {
  bottom: 16.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(14) {
  bottom: 19.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(15) {
  bottom: 22.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(16) {
  bottom: 25.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(17) {
  bottom: 28.25em;
  left: 1em;
}
.menu-line.open .btn-app:nth-of-type(18) {
  bottom: 31.25em;
  left: 1em;
}